* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top header */
header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

#top-header {
    background-color: orange;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border: 1px dotted black;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

#top-header span {
    border: 1px dotted black;
}

#menu {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* bottom header  */
.jumbo {
    background-color: darkblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 250px;
}

.jumbo-content {
    width: 40%;
    background-color: #ee82ee;

    /* test */
    height: 80%;
}



/* main */

.section {    
    /* test */
    height: 300px;
}

.big-section {
    /* test */
    height: 500px;
}

.grey {
    background-color: lightgray;
}

.white {
    background-color: white;
}

/* footer */

footer {
    background-color: black;

    /* test */
    height: 400px;
}