* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
div {
    border: 1.5px dotted black;
}


/* top header */
header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

#top-header {
    background-color: orange;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* bottom header  */
.jumbo {
    background-color: darkblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 250px;
}

.jumbo-content {
    width: 40%;
    background-color: #ee82ee;
    border: 1px dotted black;

    /* test */
    height: 80%;
}

/* main */
.section {    
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 400px;
}

.big-section {
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 600px;
}

.grey {
    background-color: lightgray;
}

.white {
    background-color: white;
}

.main-col {
    background-color: #1e90ff;
    width: 36%;

    /* test */
    height: 80%;
}

.aside-col {
    background-color: pink;
    width: 24%;

    /* test */
    height: 80%;
}

.big-col {
    background-color: green;
    width: 60%;

    /* test */
    height: 90%;
}

/* footer */
footer {
    background-color: black;

    /* test */
    height: 450px;
}

.top-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;

    /* test */
    height: 400px;
}

.main-col-footer {
    background-color: lightseagreen;
    width: 36%;
    display: flex;

    /* test */
    height: 80%;
}

.aside-col-footer {
    background-color: peru;
    width: 24%;

    /* test */
    height: 80%;
}

.little-col-footer {
    width: 25%;
    height: 100%;
    border: 1px dotted white;
}

footer hr {
    border: 0.3px solid white;
    margin-top: -40px;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    /* test */
    height: 80px;
}

.botfoot-info {
    background-color: #7fffd4;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
}

.botfoot-info div {
    background-color: orange;
}